doctype html
html(lang="ru")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		link(rel="shortcut icon", href="/img/favicon.png")
		title 404 Страница не найдена	
		link(href="/vendor/bootstrap-3.2.0/css/bootstrap.min.css" rel="stylesheet")
		link(href="/css/style.css", rel="stylesheet")
		include ./includes/googleAnalytics
	body
		br
		.container
			.jumbotron
				h1 404
				h2 Страница не найдена.
				a(href="/") На главную