head
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
	link(rel="shortcut icon", href="/img/favicon.png")
	title #{title}
	meta(content="резюме, разработка програмного обеспечения, JavaScript, Node.js, PostgreSQL, Redis, Socket.io, траление лалок, слава роботам, никто не читает мета-теги" name="keywords")
	meta(content="Резюме системного архитектора Любецкого Андрея Андреевича" name="description")
	link(href="/vendor/bootstrap-3.2.0/css/bootstrap.min.css" rel="stylesheet")
	link(href="/css/style.css", rel="stylesheet")
	include ./googleAnalytics