extends ../layout.jade
block content
	.container-fluid
		.jumbotron.img-rounded
			if id
				.game(data-id=id)
			else
				.games(data-table="games")
block scripts
	link(href="/vendor/select2-3.5.1/select2.css" rel="stylesheet")
	link(href="/vendor/jQuery-File-Upload-9.8.0/css/jquery.fileupload.css" rel="stylesheet")
	script(src="/vendor/select2-3.5.1/select2.min.js")
	script(src="/vendor/select2-3.5.1/select2_locale_ru.js")
	script(src="/vendor/jQuery-File-Upload-9.8.0/js/vendor/jquery.ui.widget.js")
	script(src="/vendor/jQuery-File-Upload-9.8.0/js/jquery.iframe-transport.js")
	script(src="/vendor/jQuery-File-Upload-9.8.0/js/jquery.fileupload.js")
	script(src="/js/lib.js")
	script(src="/js/config.js")
	script(src="/js/table.js")
	script(src="/js/goban.js")
	script(type="text/javascript").
		$(function(){
			lib.initByClass($('body'));
		});