extends ../layout.jade
block content
	.container
		.jumbotron
			h4 Резюме Любецкого Андрея Андреевича
				a(href="./Резюме Любецкого Андрея Андреевича.docx") (скачать)
			h5: strong Краткие сведения
			dl.dl-horizontal
				dt Город
				dd Минск
				dt Дата рождения
				dd 23 Октября 1984
				dt Семейное положение
				dd холост
				dt Гражданство
				dd РБ
				dt Образование
				dd высшее, Минский государственный высший радиотехнический колледж (МГВРК), сентябрь 1999 – июнь 2005, радиоинженер
				dt Языки
				dd русский - родной, английский - базовый
				dt Должность
				dd системный архитектор
				dt Мобильный телефон
				dd +375 29 274 18 77
				dt E-mail
				dd andjey@tut.by
				dt Skype
				dd andjey.
			h5: strong Трудовой стаж
			.alert.alert-info(role="alert")
				strong 01.04.2014 - 31.03.2015 Системный архитектор ООО "Эксон Ай Ти"
				ul
					li Выбор стека технологий для новых проектов
					li Разработка и реализация архитектуры приложений, ORM, Rest Api, безопасности (авторизация, роли, ресурсы), клиентского веб UI
					li Обучение и консультации JavaScript, Node.js, SQL, СЭД
					li Постановка задач, контроль сроков и качества исполнения, кодревью
			.alert.alert-info(role="alert")
				strong 26.11.2012 - 13.03.2014 Ведущий инженер ООО "БелХард Девелопмент"
				ul
					li Фуллстак разработка СЭД на Intersystems Cache - формочки, таблички, аналитические отчеты
					li Внедрение СЭД, интеграция новых фич и багфиксов
					li Автоматизация процессов сборки и установки обновлений, консультации заказчика, техподдержка
					li Аттестация СЭД в системе межведомственного документооборота
			.alert.alert-info(role="alert")
				strong 31.03.2005 - 31.08.2012 Электромонтажник - Ведущий инженер ООО "Белкарпром"
				ul
					li Разработка монтажных схем, электрических схем, КД, спецификаций, ПО на микроконтроллеры (PIC, Atmel, STM)
					li Трассировка печатных плат
					li Выбор семейств микроконтроллеров и средств разработки
			.alert.alert-success(role="alert")
				ul
					li Node.js, Express, Jade, Socket.io, PostrgreSQL, Redis
					li JavaScript, Html, Css, Ajax, JQuery, JQueryUI, JqGrid, KendoUi, Bootstrap
					li git, svn, Redmine, Rational Rose, UML, XML
					li Java, JavaME, Android, Unity, Intersystems Cache, C, Assembler
			h5: strong Дополнительная информация
			.alert.alert-info(role="alert")
				| Информацию привык искать самостоятельно, хотя предпочитаю выслушать мнение квалифицированного специалиста, нравится работать в команде, когда можно взаимно проверить друг друга (при работе в одиночестве глаз замыливается, сложнее найти ошибки), предпочитаю мирное разрешение всех возникающих разногласий. К смене приоритетов, отношусь спокойно (ТЗ вида – сделай то, не знаю что, но чтобы все было круто, воспринимаются без негативных эмоций). Перегрузок, а также суеты стараюсь избегать, так как возникают ошибки, на исправление которых в итоге тратится много времени. Готов брать на себя ответственность и руководить людьми.
				br
				br
				| Хобби, интересы: Го(бадук), микропроцессорная техника, бадминтон, настольный теннис, плавание, ИИ, нейронные сети, Ingress.
				br
				br
				| Вредных привычек нет.
			pre.
				Дата составления резюме: 11.05.15