extends ../layout.jade
block content
	.container
		.jumbotron
			h2 Прототипы/эксперименты
			p Грид с фильтрацией, сортировкой, добавлением/удалением колонок и просмотрщик партий го
				a(href="/games.html") (смотреть)
			p Змейка, JavaScript, Canvas
				a(href="/snake.html") (играть)
			p Прототипы игр на Unity, управление стрелочки или wasd
				ul
					li Парусник
						a(href="/boat.html") (играть)
					li Лабиринт
						a(href="/labirint.html") (играть)
			p Математическая игра жизнь, ассемблер (MASM32, WinApi)
				a(href="/app/ConwaysGameOfLife.exe") (скачать)
			p Порт старого текстого "квеста" на андроид (Java)
				a(href="/app/Robinson.apk") (скачать)